.section-container {
  padding-top: 9vh;
  margin-left: 5%;
}

.switch-container {
  position: absolute;
  right: 12px;
  margin-top: -4vh;
  margin-right: 2%;
}

.profile-edit-avatar {
  margin-left: 37%;
  padding-top: 5%;
}

.button-container {
  text-align: center;
  padding-top: 5px;
}
