* {
  margin: 0px;
  padding: 0px;
}

.image-padding {
  margin-top: 4vh;
}

.treeview-padding {
  padding-top: 10px;
}

.title {
  font-size: large;
  margin-left: auto;
}

.brand-season-header {
  align-content: center;
  width: max-content;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 2px 17px;
  border: 1px solid;
  color: #000;
  font-family: 'Cardo';
  text-align: center;
}

.section-container {
  padding-top: 9vh;
  margin-left: 5%;
}

/* img:hover {
  opacity: 1;
} */

img {
  opacity: 0.9;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}

img:hover {
  opacity: 1;
}

.loading-msg {
  text-align: center;
}

.gallery-modal {
  z-index: 999;
}

.switch-container {
  position: absolute;
  right: 12px;
  margin-top: -4vh;
  margin-right: 2%;
}

.switch-icons {
  /* position: absolute; */
  margin-top: -20px;
  margin-left: 40px;
}
