* {
  margin: 0px;
  padding: 0px;
}

.image-padding {
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.treeview-padding {
  padding-top: 10px;
}

.center-title {
  font-size: large;
  margin-left: auto;
}
