* {
  margin: 0px;
  padding: 0px;
}

body {
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  opacity: 1;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem rgb(211, 211, 211));
}

img {
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  span {
    font-family: 'Cardo';
    font-size: 0.9em;
    font-variant: small-caps;
  }
}

span {
  font-family: 'Cardo';
  font-size: 0.8em;
  font-variant: small-caps;
}
